.linhasdafoto{
	position: absolute;
	width: 265px;
	height: 0px;
	left: 628px;
	top: 96px;
	border: 0.5px dashed #000000;
}

#p1{
	text-align: center;
	width: 171px;
	height: 28px;
	margin: auto;
}

#foto{
	width: 171px;
	height: 206px;
	margin: auto;
	background: #C4C4C4;
}

#linha1{
	transform: rotate(50.3deg);
}

#linha2{
	transform: rotate(-50.3deg);
}
