@media (max-width: 600px){

    .titulos{
        top: initial;
    }

    .foto{
        left: 190px;
    }

    .principal{
        display: block;
        width: inherit;
        height: 50%;
    }

    #btnhome{
        top: inherit;
        left: 8px;
        width: 50px;
    }

    #btn1{
        top: 300px;
        left: 8px;
        width: 50px;
    }

    #btn2{
        top:400px;
        left: 8px;
        width: 50px;
        font-size: 30%;
    }

    #btn3{
        top: 550px;
        left: 8px;
        width: 50px;
        font-size: 60%;
    }

    #btn4{
        top: 650px;
        left: 8px;
        width: 50px;
    }

    .textosdosbotoes{
        font-size: 75%;
    }

    .textosprincipais{
        font-size: 20px;
    }

    #txthome{
        left: 37.5px;
        bottom: 400px;
    }

    .listacontato{
        left: 0px;
        width: 350px;
        bottom: 250px;
    }

    #item{
        font-size: 16px;
    }

    .listacurriculo{
        left: 0px;
        width: 350px;
        bottom: 100px;
    }

    #item2{
        font-size: 20px;
    }

    #projetos{
        right: 30px;
    }

    #itemprojeto{
        font-size: 20px;
        right: 20px;
    }

    .textobiografia{
        left: 15px;
        bottom: 275px;
    }

    .textointeresses{
        left: 35px;
        bottom: 275px;
    }
}
