.container-fluid-height{
    height: 600px;
}

#mobile-only{
    display: none;
    background-color: rgb(99, 36, 180);
}

.menu-mobile{
    top: 10px;
    position: relative;
    left: 175px;
}

.toggler-color{
    background-color: rgb(99, 36, 180);
}

.bg-height{
    height: 500px;
}

.navbar-custom-color{
    background-color: rgb(99, 36, 180);
}

.botaomobile{
    height: 50px;
    background-color: black;
}
.textbox{
    width: 85%;
    height: 600px;
    position: relative;
    left: 225px;
    bottom:600px;
}

.footer{
    width: inherit;
    height: 50px;
    align-items: center;
    background-color: rgb(99, 36, 180);
    position: relative;
}

.buttons{
    height: 600px;
    width: 15%;
    background-color: lightgray;
}

.foto{
    position:sticky;
    top: 10px;
    left: 650px;
}

.divdafoto{
    top: 10px;
    left: 650px;
}

.principal{
    width: inherit;
    height: 300px;
    background-color: rgb(99, 36, 180);
    align-items: center;
}

.listacontato{
    display: inline-block;
    position: relative;
    top: 200px;
    left: 275px;
}

#item{
    font-family: spartan;
    font-size: 26px;
}

.listacurriculo{
    display: inline-block;
    position: relative;
    left: 50px;
    top: 100px;
}

#item2{
    font-family: spartan;
    font-size: 26px;
}

#itemdados{
    left: 15px;
}

#projetos{
    left: auto;
}

#itemprojeto{
    font-family: spartan;
    font-size: 26px;
}

.textointeresses{
    display: inline-block;
    position: relative;
    bottom: 200px;
    left: 275px;
}

.logo{
    position: relative;
    top: 0px;
    right: 0px;
}

.divdalogo{
    position: relative;
    width: 0px;
    height: 0px;
    top:0px;
    left:0px;
}


